<!DOCTYPE html>
<html lang="en">

  <head>
	<meta charset="utf-8">
	<title>Github search results</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap.css"/>
  </head>

  <body class="container">
	<h1>Github search results</h1>

	{{range $repo := .}}
	<h2><a href="{{$repo.HTMLURL}}">{{$repo.FullName}}</a></h2>
	<table class="table table-stripped">
	  <tr>
		<th class="col-md-8">Language</th>
		<th>Size</th>
	  </tr>
	  {{range $lang, $size := $repo.Languages}}
	  <tr>
		<td>{{$lang}}</td>
		<td>{{$size | human}}</td>
	  </tr>
	  {{end}}
	</table>
	{{end}}
	  
  </body>
</html>
